name: test

on:
  pull_request:
    branches: [master]

jobs:
  test_build:
    name: Test build on ${{ matrix.os }} .NET 10.0
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0

      - uses: actions/checkout@v4
        with: 
          fetch-depth: 0
          submodules: recursive

      - name: Restore packages
        run: dotnet restore ProjBobcat/ProjBobcat.slnx
        
      - name: Build Test
        run: dotnet build ProjBobcat/ProjBobcat.slnx -c Release --no-restore
